<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introdução ao VueJS 3</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div id="app">
        <div v-bind:style="styles">
            <label for="themeBlack">
                <input type="checkbox" v-bind:checked="themeBlack" @click="toogleTheme" name="themeBlack" id="themeBlack"> Tema Escuro
            </label>
            <h1>{{ title }}</h1>
            <p>{{ fullName }} - {{ date_now }}</p>
            <hr />
            <h3>Carrinho: {{ cart.length }}</h3>
            <ul>
                <li v-for="(product, index) in products" v-bind:key="index">
                    <p>{{product.title}}</p>
                    <img v-bind:src="product.image" v-bind:alt="product.title" style="max-width: 100px"/>
                    <p v-if="product.stars > 0">Stars: <strong>{{ product.stars }}</strong></p><!-- v-show adiciona um 'display: none;' -->

                    <!--a href="#" v-on:click.prevent="removeCart(product)" v-if="inCart(product)">REMOVE CART</a-->
                    <button
                            @click.prevent="addCart(product)"
                            v-bind:disabled="inCart(product)"
                            v-bind:class="[inCart(product) ? 'button-disabled' : 'button-add-cart', 'button']">
                        ADD CART
                    </button>
                </li>
            </ul>
        </div>
    </div><!--app-->
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="app.js"></script>
</html>