* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.button {
    padding: 5px;
}

.button-add-cart {
    background: #79ff85;
}

.button-disabled {
    cursor: not-allowed;
}